$screen__m: 768px;

.adyen-checkout__input {
  background: var(--adyen-checkout-input__background-color, var(--input__background-color));
  border-radius: var(--input__border-radius);
  border: var(--input-border, var(--input__border-weight) solid var(--input__border-color));
  height: 50px;
  outline: none;
  transition: none;

  &:focus-visible,
  &:focus,
  &:active {
    border: var(--input-border, var(--input__border-weight-focus) solid var(--input__border-color-focus));
    box-shadow: none;

    &:hover {
      border: var(--input-border-focus, var(--input__border-weight-hover) solid var(--input__border-color-hover));
      box-shadow: none;
    }
  }

  &:hover {
    border: var(--input-border-focus, var(--input__border-weight-hover) solid var(--input__border-color-hover));
    box-shadow: none;
  }

  &-wrapper {
    width: 100%;
  }
}

.adyen-checkout__label {
  &__text {
    padding: 0 var(--indent__s);
    position: var(--adyen-label-position, absolute);
    top: -5px;
    background: var(--adyen-checkout-field-label__background-color, var(--input__background-color));
    line-height: 1em;
    z-index: 1;
    left: var(--adyen-label-left-value, 10px);
    color: var(--adyen-font-color, var(--input__label-font-color));
    font-size: var(--adyen-font-size, var(--font__xs));
    font-weight: var(--font-weight__medium);
    margin-bottom: var(--adyen-label-margin-bottom, 0);
    transition: none;
    border-radius: var(--base__border-radius);

    .adyen-checkout__label--focused & {
      color: var(--input__label-font-color);
    }
  }
}

button.adyen-checkout__button {
  background: var(--button-adyen-pay__background-color);
  border-radius: var(--button-adyen-pay__border-radius);
  box-shadow: var(--button-primary__border-box-shadow);
  font-size: var(--button__font-medium);
  line-height: var(--button__line-height);
  min-height: var(--button__height);
  text-transform: var(--adyen-checkout-button-text-transform, var(--button__text-transform));

  &:hover {
    background: var(--button-adyen-pay__background-color-hover);
    border-color: var(--button-adyen-pay__border-color-hover);
    box-shadow: none;
  }

  &__text {
    font-family: var(--button__font-family);
    font-size: var(--adyen-text-button-font-size, var(--button__font-medium));
    font-weight: var(--adyen-text-button-font-weight, var(--button__font-weight));
  }

  &.adyen-checkout__button--loading {
    background: var(--button-adyen-pay__background-color);
  }
}

.adyen-checkout__payment-method {
  overflow: hidden;

  &__header {
    cursor: pointer;
    padding: 0 !important;

    &:before {
      box-shadow: var(--radio-input__box-shadow);
      border: var(--radio-input__border);
      content: '';
      display: block;
      width: var(--radio-input__width);
      height: var(--radio-input__height);
      border-radius: 50%;
    }
  }

  &__header__title {
    &:hover {
      color: var(--font__color);
      background: transparent;
      border: none;
    }

    &:focus {
      color: var(--font__color);
      background: transparent;
      border: none;
    }
  }

  &__details {
    padding: 0 !important;
  }
}

.adyen-checkout__card-input {
  margin-top: var(--indent__s);
}

#adyen-dropin-container-new {
  padding-top: var(--adyen-container-padding-top, var(--indent__s));

  .adyen-checkout {
    &__payment-method__name {
      font-size: var(--adyen-font-size, var(--font__s));
      font-weight: var(--adyen-font-weight, var(--font-weight__semibold));
      color: var(--adyen-font-color, var(--font__color));
    }

    &__payment-method {
      background: var(--radio-input-wrapper__background-color);
      border: var(--radio-input-wrapper__border-weight) var(--base__border-style) var(--radio-input-wrapper__border-color);
      border-radius: var(--radio-input-wrapper__border-radius);
      padding: var(--indent__base);
      position: relative;
      margin-bottom: var(--indent__base);
      max-height: initial;

      &:last-child {
        margin-bottom: 0;
      }

      &__header__title {
        flex-direction: row-reverse;
        flex-grow: 1;
        font-family: var(--font-family__copy);
        justify-content: space-between;
        margin-right: 0;
        padding: 0 0 0 var(--indent__m);
        position: relative;
        text-transform: initial;
      }

      &__image__wrapper {
        margin-right: 0;
      }

      &__radio {
        display: none;
      }
    }

    &__payment-method {
      &__details {
        &__content {
          display: none;
        }
      }

      &__brands {
        display: none;
      }
    }

    &__payment-method--selected {
      background: var(--adyen-drop-in-selected__background, var(--radio-input-wrapper__background-color-active));
      border: var(--selected-border, var(--radio-input-wrapper__border-weight-active) var(--base__border-style) var(--radio-input-wrapper__border-color-active));

      .adyen-checkout__payment-method__header:before {
        border: var(--radio-input__border-checked);
        box-shadow: var(--radio-input__box-shadow-checked);
      }

      .adyen-checkout__payment-method__details {
        display: grid;
        gap: var(--indent__base);
        margin-right: var(--payment-method-detail-margin, 0);

        &__content {
          display: block;
          margin: var(--indent__base) 0 0;
        }
      }
    }

    &__checkbox {
      margin-top: var(--indent__base);

      input[name='storeDetails'] {
        display: none;
      }
    }

    &__store-details {
      margin-top: 0;
    }
  }
}

.adyen-checkout__dropdown__list--active {
  position: relative;
}

.adyen-checkout-form-instruction {
  display: none;
}

@media screen and (max-width: $screen__m) {
  #adyen-dropin-container-new {
    padding-bottom: 0;

    .adyen-checkout {
      &__payment-method--selected {
        background: transparent;
      }
    }
  }
}
