$screen__m: 768px;

.payment-page {
  padding: 0 var(--indent__base--mobile);

  .payment-form {
    margin-top: var(--indent__base);
  }
}

@media screen and (min-width: $screen__m) {
  .payment-page {
    padding: 0;

    .payment-form {
      background: var(--color__primary-white);
      padding: var(--form-details-padding-desktop, 40px 40px 70px);
    }
  }
}
